:root {
  --border-size: 2px;
}

/* Floating Animation */
.anim-float {
  animation: app-float 4.2s ease-in-out infinite;
  will-change: transform;
}

.anim-float-inv {
  animation: app-float 4.2s ease-in-out infinite;
  animation-delay: -2.1s; /* mitad de 4.2s */
  will-change: transform;
}

@keyframes app-float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }
}

/* Border Animation */

.border-anim {
  &::before,
  &::after {
    @apply absolute inset-0 content-[""] rounded-4xl;
  }
}

@media (min-width: 992px) {
  .border-anim:hover::before {
    background-image: conic-gradient(from 0, #fff, #fff, #fff, #fff);
    z-index: -1;
    animation: spin 6s linear infinite;
  }
}

@media (max-width: 992px) {
  .border-anim::before {
    background-image: conic-gradient(from 0, #fff, #fff, #fff, #fff);
    z-index: -1;
    animation: spin 6s linear infinite;
  }
}

.border-anim::after {
  @apply bg-primary z-[1] inset-[1px];
}

/* Glow suave alrededor del borde */
.border-anim::before {
  filter: blur(25px);
  opacity: 0.8;
}

/* Borde “nítido” pegado a la card */
.border-anim::after {
  filter: blur(0);
}

/* Redice Motion */

@media (prefers-reduced-motion: reduce) {
  .anim-float {
    animation: none;
  }
}

.hero-char {
  display: inline-block;
  will-change: transform, opacity;
}

/* Utility Classes - GSAP Animations */
.hero-title {
  display: block;
  margin-top: -0.15em;
  overflow: hidden;
  padding-bottom: 0.15em;
}

.anim,
.hero-title {
  opacity: 0;
  will-change: transform, opacity;
}

.anim.gsap-ready,
.hero-title.gsap-ready {
  opacity: 1;
}

.parallax {
  will-change: transform;
}
