@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }
}

html {
  font-size: var(--text-html);
  scroll-behavior: smooth;
}

body {
  @apply text-base font-public-sans text-primary-darker leading-[1.5] antialiased;
}

.container, .container-short {
  @apply w-[calc(100%-4rem)] xg:w-[90%] mx-auto;
}

.container-short {
  @apply xg:px-60;
}

