@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }
}

html {
  font-size: var(--text-html);
  scroll-behavior: smooth;
}

body {
  @apply text-base font-public-sans text-primary-darker leading-[1.5] antialiased;
}

.container {
  @apply w-full xg:w-[90%] xg:px-60 mx-auto;
}

