h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sora);
  font-weight: 600;
}

.big-title{
  @apply font-[var(--font-sora)] 
  text-4xl sm:text-6xl xg:text-6xl 
  leading-[1] font-semibold tracking-[-0.72px] ;
}

.title{
  @apply font-[var(--font-sora)] 
  text-3xl xg:text-5xl
  leading-[1.05]  font-semibold tracking-[-1px];
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 640px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (max-width: 375px) {
  :root {
    --text-html: 7.5px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 375px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: 375px) {
  :root {
    --text-html: 9.5px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 640px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: 640px) {
  :root {
    --text-html: 10px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*//////////////////////// 768px ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: 768px) {
  :root {
    --text-html: 11px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*//////////////////////// 992px ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: 992px) {
  :root {
  --text-html: 11px;
  --text-xs: 1.2rem;
  --text-sm: 1.4rem;
  --text-base: 1.6rem;
  --text-md: 1.8rem;
  --text-lg: 2rem;
  --text-xl: 2.5rem;
  --text-2xl: 3rem;
  --text-3xl: 3.5rem;
  --text-4xl: 4rem;
  --text-5xl: 5rem;
  --text-6xl: 8rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1024px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: 1024px) {
  :root {
    --text-html: 8px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1280px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: 1280px) {
  :root {
    --text-html: 7px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1440px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: 1440px) {
  :root {
    --text-html: 8px;
    --text-5xl: 5.5rem;
    --text-6xl: 9rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1680px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: 1680px) {
  :root {
    --text-html: 9px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1920 ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: 1920px) {
  :root {
    --text-html: 10px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// 2560 //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: 2560px) {
  :root {
    --text-html: 15px;
  }
}
