---
import { Image } from "astro:assets";
import Eye from "../../assets/icons/eye.svg";
import Monitor from "../../assets/icons/monitor.svg";
import Bell from "../../assets/icons/bell.svg";
import Chart from "../../assets/icons/chart.svg";
import proceso from "../../assets/images/proceso.jpg";
import Grid from "../Grid.astro";

interface Feature {
  icon: string;
  title: string;
  description: string;
}

const features: Feature[] = [
  {
    icon: "eye",
    title: "Vigilancia activa",
    description:
      "Nuestros operadores monitorean las cámaras de seguridad a través de inteligencia artificial en tiempo real, descartando falsas alarmas.",
  },
  {
    icon: "monitor",
    title: "Portería virtual",
    description:
      "Controlamos el acceso de visitantes y vehículos desde nuestra central de monitoreo, en cualquier horario del día o la noche, así como de los servicios y proveedores del edificio.",
  },
  {
    icon: "bell",
    title: "Alertas inmediatas",
    description:
      "Contamos con tecnología de punta para detectar el menor movimiento en tu propiedad.",
  },
  {
    icon: "chart",
    title: "Reportes detallados",
    description:
      "Recibe informes de todas las novedades importantes sobre tu propiedad.",
  },
];
---

<div class="relative bg-primary-dark pt-20 pb-40 xg:py-60" data-back="dark">
  <section
    class="relative bg-white pb-30 xg:py-60 mask-round shadow-2xl z-0 overflow-hidden z-30"
    id="servicios"
  >
    <div class="xg:container-short">
      <div class="realtive flex flex-col xg:flex-row xg:justify-end gap-12 xg:gap-20">
        <Image
          src={proceso}
          alt="proceso"
          class="xg:absolute top-0 left-0 w-full xg:w-[50%] !h-[40rem] xg:!h-full"
        />

        <div class="flex flex-col xg:w-[calc(50%-15rem)] px-20 xg:px-0 py-10 xg:py-0">
          <span
            class="font-[var(--font-sans)] text-base leading-[1.5] font-semibold text-neutral-500 mb-6"
            >Proceso</span
          >
          <h2 class="title mb-30 text-primary">
            Cómo funciona <br />nuestro servicio
          </h2>
          <div class="flex flex-col gap-30 xg:gap-20">
            {
              features.map((feature) => (
                <div class="icon-wrap flex flex-col xg:flex-row xg:items-start gap-12 xg:gap-18">
                  <div class="relative icon size-15 shrink-0 text-[#3068F9]">
                    {feature.icon === "eye" && <Eye class="size-full" />}
                    {feature.icon === "monitor" && (
                      <Monitor class="size-full" />
                    )}
                    {feature.icon === "bell" && <Bell class="size-full" />}
                    {feature.icon === "chart" && <Chart class="size-full" />}
                  </div>
                  <div class="flex flex-col gap-2">
                    <h3 class="m-0 font-[var(--font-sora)] text-[20px] leading-[1.4] text-primary font-semibold">
                      {feature.title}
                    </h3>
                    <p class="m-0 font-[var(--font-sans)] text-base leading-[1.5] text-[#6B7280]">
                      {feature.description}
                    </p>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="absolute bottom-0 left-0 size-full translate-y-[20%]">
    <Grid class="invert grayscale" />
  </div>

</div>

<style>
  @media (min-width: 992px) {
    .icon-wrap:not(:last-child) .icon::before {
      content: "";
      position: absolute;
      top: 5rem;
      left: 1.5rem;
      width: 2px;
      height: 6.5rem;
      background-color: #3068f9;
    }
  }
</style>
