---

import Grid from "../Grid.astro";

interface Benefit {
  icon: string;
  title: string;
  description: string;
}

const benefits: Benefit[] = [
  {
    title: "Ahorro",
    description:
      "Reducción de los costos fijos mensuales destinados a seguridad y portería.",
    iconSvg: "<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-pig-money'><path stroke='none' d='M0 0h24v24H0z' fill='none'/><path d='M15 11v.01' /><path d='M5.173 8.378a3 3 0 1 1 4.656 -1.377' /><path d='M16 4v3.803a6.019 6.019 0 0 1 2.658 3.197h1.341a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-1.342c-.336 .95 -.907 1.8 -1.658 2.473v2.027a1.5 1.5 0 0 1 -3 0v-.583a6.04 6.04 0 0 1 -1 .083h-4a6.04 6.04 0 0 1 -1 -.083v.583a1.5 1.5 0 0 1 -3 0v-2l0 -.027a6 6 0 0 1 4 -10.473h2.5l4.5 -3' /></svg>"
  },
  {
    title: "Control y monitoreo",
    description:
      "Control de acceso a las instalaciones y monitoreo de los subsistemas existentes.",
    iconSvg: "<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-device-cctv'><path stroke='none' d='M0 0h24v24H0z' fill='none'/><path d='M3 4a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1l0 -2' /><path d='M8 14a4 4 0 1 0 8 0a4 4 0 1 0 -8 0' /><path d='M19 7v7a7 7 0 0 1 -14 0v-7' /><path d='M12 14l.01 0' /></svg>"
  },
  {
    title: "Seguridad 24/7",
    description:
      "Monitoreo en tiempo real de su propiedad, altoparlantes para disuasión, envío inmediato de móvil de respuesta y 911.",
    iconSvg: "<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-home-shield'><path stroke='none' d='M0 0h24v24H0z' fill='none'/><path d='M5 12h-2l9 -9l7.636 7.636' /><path d='M5 12v7a2 2 0 0 0 2 2h5' /><path d='M9 21v-6a2 2 0 0 1 2 -2h1.5' /><path d='M22 16c0 4 -2.5 6 -3.5 6s-3.5 -2 -3.5 -6c1 0 2.5 -.5 3.5 -1.5c1 1 2.5 1.5 3.5 1.5' /></svg>"
  },
];
---

<section
  class="relative bg-primary py-30 sm:py-50 xg:pt-70 xg:pb-40"
>
  <div class="container-short flex flex-col items-center gap-16">
    <div class="xg:max-w-[80%] text-center mb-10 xg:mb-35 text-white">
      <h2 class="title mb-10 xg:mb-20 anim" data-anim="bottom" >
        Conócenos
      </h2>
      <p
        class="w-[90%] xg:w-[66%] mx-auto anim" data-anim="bottom" data-delay="0.2"
      >
        Spotter nace como una unidad de negocios de GRUPO ASSETS con el objetivo de brindar el mejor servicio de portería virtual y monitoreo de seguridad en tiempo real, garantizando el bienestar y confort así como un servicio de video vigilancia activa velando por la seguridad de nuestros clientes.
      </p>
    </div>

    <div class="grid w-full grid-cols-1 gap-30 xg:grid-cols-3 text-white">
      {
        benefits.map((benefit) => (
          <div class="flex flex-col items-center gap-12 p-8 text-center anim" data-anim="bottom" data-delay="0.2" data-children="false">
            <div class="[&_svg]:size-25">
              {benefit.iconSvg && <div set:html={benefit.iconSvg} />}
            </div>
            <h3 class="mb-2 font-[var(--font-sora)] text-xl leading-[1.2] font-semibold">
              <span set:html={benefit.title} />
            </h3>
            <p class="text-md xg:w-[90%]">
              {benefit.description}
            </p>
          </div>
        ))
      }
    </div>

  </div>

  <Grid />

</section>
