---
import Button from "../Button.astro";
import MoneySheetsIcon from "../../assets/icons/money-sheets.svg";
import WhatsappIcon from "../../assets/icons/whatsapp.svg";
---

<section class="relative flex justify-center" id="contacto">
  <div class="relative container">
    <div
      class="relative p-20 xg:py-40 xg:px-60 z-20 rounded-[4rem] [corner-shape:squircle] overflow-hidden"
    >
      <!-- Video background -->
      <div class="absolute inset-0 z-0 bg-primary">
        <video
          class="w-full h-full object-cover grayscale opacity-20 contrast-300 brightness-200"
          src="/video/video.mp4"
          autoplay
          muted
          loop></video>
      </div>

      <div
        class="relative flex flex-col xg:flex-row justify-between items-center  xg:grid-cols-2 xg:text-left z-50"
      >
        <div
          class="flex flex-col gap-6 xg:w-[50%] xg:translate-y-[.5rem]"
        >
          <h2 class="title text-white mb-10 xg:mb-0">
            Protege lo <br />
            que importa
          </h2>
          <p class="text-lg xg:w-[80%] text-white mb-40 xg:mb-0 leading-[1.3]">
            Contacta con nuestro equipo y descubre cómo <br class="hidden xg:block" />Spotter protege lo
            que más importa.
          </p>
        </div>

        <div
          class="flex items-center gap-8 xg:items-start w-full xg:w-[40%] justify-end"
        >
          <div class="flex w-full flex-col gap-8 sm:w-auto sm:flex-row">
            <Button variant="white" size="lg" class="w-full xg:w-fit" href="#presupuesto">
              <MoneySheetsIcon class="hidden sm:block"/>
              <span>Solicitar presupuesto</span>
            </Button>
            <Button variant="outline_white" size="lg" class="w-full xg:w-fit" href="tel:+123456789">
              <WhatsappIcon />
              <span>Hablamos</span>
            </Button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
