---
import { Image } from "astro:assets";
import porteriaVirtual from "../../assets/images/porteria-virtual.jpg";
import videoVigilancia from "../../assets/images/videovigilancia.jpg";
import Button from "../Button.astro";
import Grid from "../Grid.astro";
import InfoIcon from "../../assets/icons/info.svg";
---

<section
  id="servicios"
  class="relative bg-primary-dark text-white py-30 xg:pt-20 xg:pb-70 z-0"
  data-back="dark"
>
  <!-- title -->
  <div
    class="pt-30 xg:pt-50 text-center flex flex-col justify-center items-center"
  >
    <h2 class="title mb-10 xg:mb-20 anim" data-anim="bottom">Servicios</h2>

    <p
      class="xg:text-lg w-[90%] xg:w-[33%] anim"
      data-anim="bottom"
      data-delay="0.2"
    >
      Descubre nuestros servicios especializados diseñados para brindar
      seguridad, comodidad y eficiencia a nuestros clientes.
    </p>
  </div>

  <!-- cards -->

  <div
    class="relative container grid xg:grid-cols-2 gap-20 pt-30 xg:pt-50 z-20"
  >
    <!-- Portería Virtual -->
    <a
      href="#"
      class="card-service xg:h-[60rem] p-15 xg:p-30 gap-10 border border-white/20 rounded-4xl"
    >
      <Image
        class="absolute top-0 left-0 z-0 !w-full h-full! object-cover transition-all duration-500 ease-in-out hover:scale-110"
        src={porteriaVirtual}
        alt="Portería Virtual"
        format="webp"
      />

      <div
        class="relative flex flex-col justify-between items-start xg:w-[50%] h-full z-30 text-white pointer-events-none"
      >
        <div>
          <h2 class="text-4xl font-sora mb-20">Portería <br /> Virtual</h2>
          <p class="text-md mb-20">
            Para ofrecerle un control total sobre los accesos, optimizando la
            seguridad y reduciendo significativamente sus gastos operativos.
          </p>
        </div>

        <Button variant="white" size="lg" class="pointer-events-auto">
          <InfoIcon />
          <span>Info</span>
        </Button>
      </div>

      <div
        class="!absolute inset-0 size-full bg-gradient-to-r from-black/70 to-transparent !z-10 shadow-xxl pointer-events-none"
      >
      </div>
    </a>

    <!-- Video Vigilancia -->
    <a
      href="#"
      class="card-service xg:h-[60rem] p-15 xg:p-30 gap-10 border border-white/20 rounded-4xl"
    >
      <Image
        class="absolute top-0 left-0 z-0 w-full h-full! object-cover transition-all duration-500 ease-in-out hover:scale-110"
        src={videoVigilancia}
        alt="Video Vigilancia"
        format="webp"
      />

      <div
        class="flex flex-col justify-between xg:w-[50%] h-full items-start pointer-events-none"
      >
        <div>
          <h2 class="text-4xl font-sora mb-20">Video <br /> Vigilancia</h2>

          <p class="text-md mb-20">
            Para ofrecerle un monitoreo en tiempo real de sus instalaciones y
            personal.
          </p>
        </div>

        <Button variant="white" size="lg" class="pointer-events-auto">
          <InfoIcon />
          <span>Info</span>
        </Button>
      </div>

      <div
        class="!absolute inset-0 size-full bg-gradient-to-r from-black/70 to-transparent !z-10 shadow-xxl pointer-events-none"
      >
      </div>
    </a>
  </div>

  <Grid class="invert grayscale opacity-70 xg:translate-y-[10%]" />
</section>

<style>
  .card-service {
    @apply relative overflow-hidden;

    & > div {
      @apply relative z-20;
    }

    &:hover {
      @apply cursor-pointer;
    }
  }
</style>
