<section class="relative py-30 xg:py-20 text-white z-0" id="servicios">
  <div class="container flex justify-center">
    <div
      class="w-full h-px mx-auto bg-gradient-to-r from-transparent via-white/20 to-transparent"
    >
    </div>
  </div>

  <!-- title -->
  <div class="pt-50 text-center flex flex-col justify-center items-center">
    <h2 class="title mb-10 xg:mb-20">Servicios</h2>
    <p class="text-lg w-[40%]">
      Descubre nuestros servicios especializados diseñados para brindar
      seguridad, comodidad y eficiencia a nuestros clientes.
    </p>
  </div>

  <!-- cards -->
  <div class="relative max-w-[90%] mx-auto flex flex-col gap-30 pt-50 z-20">
    <!-- Portería Virtual -->
    <div class="card-service grid xg:grid-cols-2 gap-50 items-center border border-white/50 rounded-4xl">
      <figure class="overflow-hidden">
        <img
          class="rounded-4xl aspect-square object-cover"
          src="/img/porteria.png"
          alt="Portería Virtual"
        />
      </figure>

      <div>
        <h2 class="text-5xl font-sora mb-20">Portería <br /> Virtual</h2>
        <p class="text-lg xg:w-[75%]">
          Desarrollamos este concepto de portería virtual para ofrecerle un
          control total sobre los accesos, optimizando la seguridad y reduciendo
          significativamente sus gastos operativos.
        </p>
      </div>
    </div>

    <!-- Video Vigilancia -->
    <div class="card-service grid xg:grid-cols-2 gap-50 items-center border border-white/50 rounded-4xl">

      <div class="pl-50">
        <h2 class="text-5xl font-sora mb-20">Video <br /> Vigilancia</h2>
        <p class="text-lg xg:w-[75%]">
          Desarrolla este concepto de video vigilancia para ofrecerle un
          monitoreo en tiempo real de sus instalaciones y personal comunes.
        </p>
      </div>

      <figure class="overflow-hidden">
        <img
          class="rounded-4xl w-full aspect-square object-cover"
          src="/img/central.jpg"
          alt="Video Vigilancia"
        />
      </figure>
    </div>

  </div>
  <div class="bg-tech-grid tech-grid-bg opacity-[0.1] z-10"></div>
</section>

<style>
  .card-service {
    position: relative;
    height: fit-content;
    overflow: hidden;
    background-color: var(--color-primary);
    
    img{
      mix-blend-mode: lighten;
    }
  }
</style>
