<section id="video" class="relative pt-80 text-white">
  <div class="container relative z-20">
    <div class="text-center flex flex-col justify-center items-center mb-50">
      <h2 class="title mb-10 xg:mb-20">
        Spotter App 
      </h2>
      <p class="text-lg w-[33%]">
        Desarrollamos una aplicación para que <br>tengas total control y seguridad.
      </p>
    </div>
    <lite-youtube
      videoid="PjkSW18a0is"
      class="w-full border-2 border-white/50 aspect-16/8 rounded-[3rem] [corner-shape:squricle]"
    ></lite-youtube>
  </div>
  <div class="bg-tech-grid tech-grid-bg opacity-[0.1] z-10"></div>
</section>

<script>
  import "@justinribeiro/lite-youtube";
</script>
