<button
  class="burger m-item relative flex flex-col gap-[5px] bg-transparent p-2 xg:hidden z-110"
  aria-label="Abrir menú"
>
  <span
    class="burger-line"
  ></span>
  <span
    class="burger-line"
  ></span>
  <span
    class="burger-line"
  ></span>
</button>

<style>
  .burger-line{
    background: white;
    height: 4px;
    width: 4rem;
    border-radius: 2px;
    transform-origin: center;
    transition-property: transform, opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }
  :global(body.menu-in) .burger-line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  :global(body.menu-in) .burger-line:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
  }
  :global(body.menu-in) .burger-line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

</style>
