---
interface Props {
  icon: string;
  title: string;
  description: string;
}

const { icon, title, description } = Astro.props;

const IconModule = await import(`../assets/icons/${icon}.svg`);

---

<div
  class="flex flex-col items-center gap-12 p-8 text-center anim"
  data-anim="bottom"
  data-delay="0.2"
  data-children="false"
>
  <div class="[&_svg]:size-22">
    <IconModule.default />
  </div>
  <h3 class="mb-2 font-[var(--font-sora)] text-lg leading-[1.2] font-semibold min-h-[4.5rem]">
    <span set:html={title} />
  </h3>
  <p class="xg:w-[90%] opacity-70">{description}</p>
</div>
