---
import { Image } from "astro:assets";
import FeaturesImage from "../assets/images/features.png";
---

<section class="relative shadow-xxxl">
    <Image src={FeaturesImage} alt="Features" />
</section>