---
import Logo from "./Logo.astro";
import Cotizar from "../assets/icons/cotizar.svg";
// import ChevronDown from "../assets/icons/chevron-down.svg";
import Button from "./Button.astro";
import Burger from "./Burger.astro";
import MenuMobile from "./MenuMobile.astro";
import MenuDesktop from "./MenuDesktop.astro";

interface NavLink {
  label: string;
  href: string;
  hasDropdown?: boolean;
}

const navLinks: NavLink[] = [
  { label: "Monitoreo de seguridad", href: "#monitoreo" },
  { label: "Portería virtual", href: "/porteria-virtual" },
  { label: "Tutoriales", href: "#tutoriales" },
  { label: "Preguntas frecuentes", href: "#faq" },
  { label: "Contacto", href: "#contacto" },
];
---

<header
  class="fixed inset-x-0 top-0 flex h-[100px] items-center justify-center z-100 
  transition-all duration-400 ease-in-out"
  data-scroll="top"
  data-stack="off"
>
  <div class="container">
    <div class="flex w-full items-center justify-between gap-8">
      <div class="min-w-0 flex-1">
        <Logo class="text-white" />
      </div>

      <!-- Desktop Menu -->
      <MenuDesktop {navLinks} />

      <div class="hidden min-w-0 flex-1 justify-end xg:flex items-center gap-15">
        <Button
          variant="yellow"
          size="sm"
          href="#"
          data-modal="contact-form"
          class="open-modal shadow-[0_14px_36px_rgba(19,40,99,0.40)]"
        >
          <span>Cotizar</span>
          <Cotizar />
        </Button>
      </div>

      <Burger />
    </div>
  </div>

  <!-- Mobile Menu -->
  <MenuMobile {navLinks} />
</header>

<style>
  :global(body:not([data-scroll="top"])[data-stack="off"]) header {
    @apply translate-y-[-100%];
  }
  

    :global(body[data-stack="on"]:not([data-scroll="top"])) header {
      background-color: color-mix(in srgb, var(--color-primary), transparent 10%) !important;
      box-shadow: 0 4px 2rem color-mix(in srgb, #132863, transparent 50%);
      border-color: transparent !important;
      backdrop-filter: blur(5px);
    }
  

  :global(body.menu-in) :global(main),
  :global(body.menu-in) :global(footer) {
    transform: translateX(-100vw);
  }

  :global(main),
  :global(footer) {
    transition: transform 0.4s ease-in-out;
  }

  :global(body.menu-in) {
    overflow: hidden;
  }
</style>
