---
import LogoSpotter from "../assets/images/logo.svg";

interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;

---

<a href="/" class:list={["logo inline-flex items-center h-fit", className]}>
  <LogoSpotter class={`${className} w-60 2xl:w-70`} />
</a>

<style>
 @media (max-width: 992px) {
  :global(body.menu-in .mobile-menu) .logo svg {
    color: white !important;
  }
 }
 @media (min-width: 992px) {
  :global(body[data-stack="on"][data-scroll]:not([data-scroll="top"])) .logo svg {
    color: white !important;
  }
 }
</style>

