---
import LogoSpotter from "../assets/images/logo.svg";

interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;

---

<a href="/" class:list={["logo inline-flex items-center h-fit", className]}>
  <LogoSpotter class="w-60 2xl:w-70 text-primary" />
</a>

<style>
  :global(body[data-stack="on"][data-scroll]:not([data-scroll="top"])) .logo svg {
    color: white !important;
    transform: scale(0.7) translateY(0.5rem) !important;
  }
</style>

