---
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Spotter - Vigilancia en tiempo real" } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" href="/fonts/public-sans-v21-latin-regular.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/public-sans-v21-latin-600.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/public-sans-v21-latin-700.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/sora-v17-latin-regular.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/sora-v17-latin-600.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/sora-v17-latin-700.woff2" as="font" type="font/woff2" crossorigin />
    <style is:inline>
      @font-face {
        font-family: "Public Sans";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("/fonts/public-sans-v21-latin-regular.woff2") format("woff2");
      }

      @font-face {
        font-family: "Public Sans";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url("/fonts/public-sans-v21-latin-600.woff2") format("woff2");
      }

      @font-face {
        font-family: "Public Sans";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url("/fonts/public-sans-v21-latin-700.woff2") format("woff2");
      }

      @font-face {
        font-family: "Sora";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("/fonts/sora-v17-latin-regular.woff2") format("woff2");
      }

      @font-face {
        font-family: "Sora";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url("/fonts/sora-v17-latin-600.woff2") format("woff2");
      }

      @font-face {
        font-family: "Sora";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url("/fonts/sora-v17-latin-700.woff2") format("woff2");
      }
    </style>
    <title>{title}</title>
  </head>
  <body class="back-dark" data-stack="off" data-scroll="top">
    <slot />
    <script>
      import '../js/functions.js';
    </script>
  </body>
</html>
